<carousel class="carousel">
    <slide>
        <img src="assets/slide-images/home_slide1.png" alt="ts-spacers">
    </slide>
    <slide>
        <img src="assets/slide-images/home_slide2.png" alt="mg-hb">
    </slide>
    <slide>
        <img src="assets/slide-images/home_slide3.png" alt="bc-gh">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to SkateHut Shop!</h1>
    </div>
    <div class="d-flex justify-content-center pt-4">
        <p>Custom made Skateboarding clothing brands!</p>
    </div>
</section>